<%- include('../partials/header') %>

<h2>Enter a New Post</h2>
<form action="/posts" method="POST">
    <input type="text" name="textContent" placeholder="Speak to the world">
    <br>
    <input type="submit" value="Add Post">
</form>

<%- include('../partials/footer') %>